.breadcrumbs-list {
    @include list-reset;
}

.breadcrumbs-inline .breadcrumbs-item {
    display: inline;
}

.breadcrumbs-float .breadcrumbs-item {
    float: left;
}

.breadcrumbs-separator:after {
    content: "/";
    color: $base-font-colour;
    padding: 0 $default-padding;
}