// We need to set a height to make sure all the elements line up and it
// actually ends up looking like a switcher
$toggle-height: $default-padding*2;

// Toggle state background colours
$toggle-active-colour: green;
$toggle-inactive-colour: $highlight-colour;

// The main element that wraps the switcher ui
.toggle-switch-ui {
    @include inline-block();
    height: $toggle-height;
    overflow: hidden;
    width: 100%;
    max-width: $default-padding*4;
    position: relative;
    background: $highlight-colour;
    border: 1px solid $highlight-colour;
}

// Curved borders? If you don't want them, remove these rules
$toggle-border-multiplier: 2.5;
$toggle-border-radius: $default-padding*$toggle-border-multiplier;
.toggle-switch-ui {
    @include border-radius($toggle-border-radius);
}

.toggle-switch-active .toggle-switch-ui-button {
    @include border-radius(0 $toggle-border-radius $toggle-border-radius 0);
}

.toggle-switch-ui-button {
    @include border-radius($toggle-border-radius 0 0 $toggle-border-radius);
}

// The left background (this should be the 'true' case, e.g. "yes" or "on")
.toggle-switch-left-bg {
    position: absolute;
    display: block;
    left: 0;
    z-index: 1;
    width: 70%;
    height: $toggle-height;
    background: $toggle-active-colour;
}

// The right hand background (this should be the 'false' case, e.g. "no" or "off")
.toggle-switch-right-bg {
    position: absolute;
    display: block;
    right: 0;
    z-index: 0;
    width: 70%;
    height: $toggle-height;
    background: $toggle-inactive-colour;
}

// The clickable area (hyperlink)
.toggle-switch-ui .toggle-switch-clickable,
.toggle-switch-ui .toggle-switch-clickable:visited,
.toggle-switch-ui .toggle-switch-clickable:active {
    position: absolute;
    display: block;
    height: $toggle-height;
    z-index: 2;
    background: transparent;
    width: 100%;
    color: $highlight-text-colour;
    cursor: pointer;
    text-decoration: none;
}

// Indication of keyboard focus on the element.
.toggle-switch-clickable:focus .toggle-switch-ui-button {
    background: darken($basic-colour, 10%);
}

// Each individual UI option. This holds the text label.
.toggle-switch-ui-option {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    line-height: $default-padding*2;
}

// The button.
.toggle-switch-ui-button {
    display: block;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    left: auto;
    background: $basic-colour;
}

// Toggle States
.toggle-switch-active .toggle-switch-ui-button {
    right: auto;
    left: 0;
}

// Swap the depths when active
.toggle-switch-active .toggle-switch-left-bg {
    z-index: 0;
}

.toggle-switch-active .toggle-switch-right-bg {
    z-index: 1;
}