// Taken from HTML 5 BP
::-moz-selection {
  background: $content-selection-highlight;
  text-shadow: none;
}

::selection {
  background: $content-selection-highlight;
  text-shadow: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: $base-font-scale + em;
  line-height: 1.4;
  color: $base-font-colour;
}