// Styles used to assist with developing the stylesheets associated with the
// Examples for each module.

@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

$example-border-color: #ccc;
$example-default-padding: 1em;

$example-bg-colour: #555;      // Example bg
$example-bg-font-colour: #fff; // Font on top of the example bg