// REM font sizing with pixel fall back
// This technique will allow external font sizes to be set for html and respected
// if REMs are supported (everything but IE8 and older).
@mixin font-size($sizeValue: 1){
  font-size: ($sizeValue * $base-font-pixel) + px;
  font-size: $sizeValue + rem;
}

// Reset list styles
@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Clear fix for floats
@mixin clearfix() {
  &:after,
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

// Best Practice Article: https://central.squiz.net/imp/best-practice/accessibility/screen-hidden-content
// Prevent an element from being displayed.
@mixin screen-hide() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Restore to view
@mixin screen-show() {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Transition shortcut
@mixin transition($args: all 1s ease) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}

// 2D rotation
@mixin rotate($deg) {
    -webkit-transform: rotate($deg); /* Safari and Chrome */
        -ms-transform: rotate($deg); /* IE 9 */
            transform: rotate($deg);
}

// Inline-block display mixin that works on older IE
@mixin inline-block() {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

// Add border box setting to an element.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Border radius helper
@mixin border-radius($radius: 4px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

// Box shadow (won't work in IE8 or older)
@mixin box-shadow($args: 6px 6px 6px rgba(0,0,0,0.3)) {
  -webkit-box-shadow: $args;
     -moz-box-shadow: $args;
          box-shadow: $args;
}

// Opacity
@mixin opacity($value) {
  $decimal-value: $value/100;
  -khtml-opacity: $decimal-value;
  -webkit-opacity: $decimal-value;
  -moz-opacity: $decimal-value;
  opacity: $decimal-value;
  -ms-filter: #{"alpha(opacity=" + $value + ")"};
  filter: alpha(opacity=$value);
}

// Individual border radius rule helper.
@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}