.tabs-nav-list {
  @include list-reset();
}

.tabs-panel-hide {
  @include screen-hide();
}

.tabs-nav-link,
.tabs-nav-link:active,
.tabs-nav-link:visited {
    background: $highlight-colour;
    border-color: $basic-colour;
    border-style: 1px solid;
    border-right: none;
    color: $highlight-text-colour;
    display: block;
    padding: $default-padding/2 $default-padding;
    text-decoration: none;
}
.tabs-nav-link.tabs-nav-link-active,
.tabs-nav-link:hover {
    background: lighten($highlight-colour, 10%);
}
.tabs-panel-item {
    border: 1px solid $basic-colour;
    clear: left;
    padding: $default-padding;
}