.tabs-nav-item {
    float: left;
    margin-right: 4px;
}

.tabs-nav-item-last .tabs-nav-link {
    border-right: 1px solid;
    margin-right: 0;
}

/* Vertical Layout active on medium screens & higher */
.tabs-vertical .tabs-nav-list {
    float: left;
    width: 20%;
}

.tabs-vertical .tabs-panel {
    float: left;
    width: 80%;
}

.tabs-vertical .tabs-nav-item {
    width: 100%;
    margin: 0;
    margin-bottom: 1px;
}

.tabs-vertical .tabs-nav-item-last .tabs-nav-link {
    border: 0;
}