<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
        <title>{{name}} - (version {{version}})</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{file_dest}}/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="{{file_dest}}/logo-144x144.png">
<% if (cssTagStyle === 'single') { %>
        <!-- build:css({{dest}}) styles/main.css -->
            <!-- import:sass {{source}}/styles/global.scss [<link rel="stylesheet" href="styles/{{source}}/global.css" />] -->
            <!-- import:bowerCSS -->
            <!-- import:sassMQ {{source}}/styles/medium.scss [<link rel="stylesheet" href="styles/{{source}}/medium.css" media="(min-width: <%= mediumMQ %>)" />] -->
            <!-- import:sassMQ {{source}}/styles/wide.scss [<link rel="stylesheet" href="styles/{{source}}/wide.css" media="(min-width: <%= wideMQ %>)" />] -->
            <!-- import:sassMQ {{source}}/styles/print.scss [<link rel="stylesheet" href="styles/{{source}}/print.css" media="print" />] -->
        <!-- endbuild --><% } else { %>
        <!-- build:css({{dest}}) styles/global.css -->
            <!-- import:sass {{source}}/styles/global.scss [<link rel="stylesheet" href="styles/global.css" />] -->
            <!-- import:bowerCSS -->
        <!-- endbuild -->
        <!-- import:sass {{source}}/styles/medium.scss [<link rel="stylesheet" href="styles/medium.css" media="(min-width: <%= mediumMQ %>)" />] -->
        <!-- import:sass {{source}}/styles/wide.scss [<link rel="stylesheet" href="styles/wide.css" media="(min-width: <%= wideMQ %>)" />] --><% if (ie8) { %>
        <!--[if lte IE 8]>
            <!-- import:sass {{source}}/styles/medium.scss [<link rel="stylesheet" href="styles/medium.css" />] -->
            <!-- import:sass {{source}}/styles/wide.scss [<link rel="stylesheet" href="styles/wide.css"  />] -->
        <![endif]--><% } %>
        <!-- import:sass {{source}}/styles/print.scss [<link rel="stylesheet" href="styles/print.css" media="print" />] -->
        <% } %>
        <!-- build:js js/vendor/modernizr.min.js -->
            <!-- import:js {{bowerdir}}/modernizr/modernizr.js -->
        <!-- endbuild -->
    </head>
    <% if (ieConditionals) { %><!--[if lt IE 7]><body class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><body class="no-js lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><body class="no-js lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!--><% } %>
    <body class="no-js">
    <% if (ieConditionals) { %><!--<![endif]--><% } %>
    <div id="page-wrapper">
    <!--noindex-->
        <!-- import:content module:skip-links/html/index.html -->
        <div class="header" role="banner">

        </div><!-- /.header -->
    <!--endnoindex-->
            <!-- start main-content -->
            <div id="main" role="main">

            </div><!-- /#main -->
            <!-- end main-content -->
    <!--noindex-->
        <div class="footer" role="contentinfo">

        </div><!-- /.footer -->
    <!--endnoindex-->
    </div><!-- /#page-wrapper -->

<!--@@
    jQuery
    We're bringing this in seperately to avoid any confusion. If desired this could be replaced
    with a jQuery CDN tag instead of locally sourced library.
@@-->
    <!-- build:js js/vendor/jquery.min.js -->
        <!-- import:js {{bowerdir}}/jquery/jquery.js -->
    <!-- endbuild -->

<!--@@
    Plugin JS
    You can use this build directive to automatically combine supporting library files
    including things like jQuery plugins. Naming the file .min.js will allow the generated
    file to be picked up in the optimisation phase and minified reducing it's final file size.
@@-->
    <!-- build:js js/plugins.min.js -->
        <!-- import:js {{source}}/js/plugins.js -->
        <!-- import:bowerJS --><% if (bootstrap) { %>
        <!-- import:content {{source}}/html/fragments/bootstrap.html -->
        <% } %><% if (foundation) { %>
        <!-- import:content {{source}}/html/fragments/foundation.html -->
        <% } %><% if (flexslider) { %>
        <!-- import:js {{bowerdir}}/flexslider/jquery.flexslider.js -->
        <% } %><% if (typeahead) { %>
        <!-- import:js {{bowerdir}}/typeahead.js/dist/typeahead.js -->
        <% } %><!-- import:js module:**/js/plugin.js -->
    <!-- endbuild -->

<!--@@
    Global JS
    All the scripts that do the configuration and invocation of plugins, or any small ad-hoc
    javascript required to enhance the page.
@@-->
    <!-- build:js js/global.js -->
        <!-- import:js {{source}}/js/global.js -->
        <!-- import:js module:**/js/global.js -->
    <!-- endbuild -->

    </body>
</html>