// Sortable tables
.table-sortable .tablesorter-header {
    padding: 0;
}

.table-sortable-header-link {
    width: 100%;
    display: block;
    padding: $default-padding/2 $default-padding;
    @include border-box();
}

.table-sortable-header-link:hover,
.table-sortable-header-link:focus,
.tablesorter-headerAsc .table-sortable-header-link,
.tablesorter-headerDesc .table-sortable-header-link {
    background-color: $button-background-hover;
    text-decoration: none;
}

.tablesorter-headerAsc  .table-sortable-header-link:after {
    content: "\2191 "; // Up arrow
    margin-left: $default-padding;
}

.tablesorter-headerDesc  .table-sortable-header-link:after {
    content: "\2193 "; // Down arrow
    margin-left: $default-padding;
}