.nav-secondary-list,
.nav-secondary-sub,
.nav-secondary-deep {
    @include list-reset();
}

.nav-secondary-item, 
.nav-secondary-sub-item {
    width: 100%;
    display: block;
}

.nav-secondary-item-link,
.nav-secondary-sub-item-link,
.nav-secondary-deep-item-link {
    display: block;
    padding: $default-padding/2 $default-padding;
}

.nav-secondary-deep-item-link {
    background: lighten($basic-colour, 15%);
    padding-left: $default-padding + $default-padding/2;
}

.nav-secondary-item-link {
    background: $highlight-colour;
    color: $highlight-text-colour;
}

.nav-secondary-sub-item-link {
    background: $basic-colour;
}

.nav-secondary-item-link:hover,
.nav-secondary-sub-item-link:hover {
    background: lighten($highlight-colour, 20%);
}

.nav-secondary-deep-item-link:hover {
    font-weight: bold;
}

.nav-secondary-item-active .nav-secondary-item-link:after,
.nav-secondary-sub-item-active .nav-secondary-sub-item-link:after,
.nav-secondary-deep-item-active .nav-secondary-deep-item-link:after {
    content: " (ACTIVE)";
}