// For IE 7 you can inject these rules into the adjacent siblings that come
// after the drop down menu. This will solve the drop down sub appearing beneath
// other elements with absolutely positioned elements with a z-index.

// Example
// .main-wrapper {
//   position: relative;
//   z-index: -1;
// }

.nav-dropdown-list,
.nav-dropdown-sub {
    @include list-reset();
}

.nav-dropdown-right .nav-dropdown-list {
    float: right;
}

.nav-dropdown-item {
    float: left;
    @include inline-block();
    width: 100%;
}
.nav-dropdown-item-link,
.nav-dropdown-sub-item-link {
    display: block;
    padding: $default-padding/2 $default-padding;
}

.nav-dropdown-item-link,
.nav-dropdown-item-link:visited,
.nav-dropdown-item-link:active {
    background: $highlight-colour;
    color: $highlight-text-colour;
}

.nav-dropdown-item-link.nav-dropdown-item-active,
.nav-dropdown-item-link:hover {
    color: $base-font-colour;
}

.nav-dropdown-sub-item-link {
    background: $basic-colour;
}

.nav-dropdown-sub {
    display: none;
}

// Detection on sub menu items
.nav-dropdown-item-subs .nav-dropdown-item-link {
    // Add your sub menu styling here
}

///////////////
// Mega Menu //
///////////////

.nav-dropdown.nav-dropdown-mega .nav-dropdown-sub {
    width: 100%;
    background: $basic-colour;
}

.nav-dropdown-sub-mega-column-content {
    padding: $default-padding;
    margin: 0;
}