$menu-width: 220/$base-font-pixel + em;

.nav-dropdown-sub {
    display: none;
}

.nav-dropdown-item-active.nav-dropdown-item-link,
.nav-dropdown-item:hover .nav-dropdown-item-link,
.nav-dropdown-item-link:hover,
.no-js .nav-dropdown-item-link:focus {
    background-color: $basic-colour;
}

.nav-dropdown-sub-item-link:hover,
.no-js .nav-dropdown-sub-item-link:focus {
    background-color: $highlight-colour;
    color: $highlight-text-colour;
}

.nav-dropdown-sub {
    position: absolute;
    z-index: 1000;
}

// CSS display fallback with JS disabled.
.nav-dropdown-item:hover .nav-dropdown-sub,
.nav-dropdown-item-link:hover ~ .nav-dropdown-sub,
.nav-dropdown-item-link:focus ~ .nav-dropdown-sub {
    display: block;
}

////////////////
// Horizontal //
////////////////

.nav-dropdown-horizontal .nav-dropdown-item {
    float: left;
    display: block;
    width: auto;
}

.nav-dropdown-horizontal .nav-dropdown-sub {
    width: $menu-width;
}

//////////////
// Vertical //
//////////////

.nav-dropdown-vertical .nav-dropdown-item,
.nav-dropdown-vertical .nav-dropdown-sub-item {
    display: block;
}

.nav-dropdown-vertical {
    width: $menu-width;
}

.nav-dropdown-item {
    position: relative;
}

.nav-dropdown-vertical .nav-dropdown-sub {
    top: 0;
    width: $menu-width;
    right: -$menu-width;
}

///////////////
// Mega Menu //
///////////////

.nav-dropdown-mega {
    position: relative;
}

.nav-dropdown-mega .nav-dropdown-item {
    position: inherit;
}

.nav-dropdown-mega .nav-dropdown-sub {
    left: 0;
}

.nav-dropdown-sub-mega-row {
    @include row();
}

.nav-dropdown-sub-mega-column {
    @include column(3);
}