// Simple resets for tables
// These match roughly to the Edit Plus styles for EES, except the colour.
table {
    margin: 1em 0 1.5em;
    width: 100%;
    border-collapse: collapse;
}

caption {
    padding: 0.4em;
    background-color: $basic-colour;
    margin-bottom: 0.7em;
    @include border-radius(4px);
}

td,
th {
    border: solid 1px $basic-colour;
    padding: 0.6em;
    vertical-align: top;
}

th {
    text-align: center;
    background-color: $highlight-colour;
    border-color: $highlight-colour;
    color: $highlight-text-colour;
    font-weight: bold;
}

th a,
th a:active,
th a:focus,
th a:visited {
    color: $highlight-text-colour;
}

tr {
    min-height: 1em;
}

.responsive-table {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 $default-padding;
    background: transparent;
    /* Remove the border & box-sizing rules for IE 7 or older support */
    border: 1px solid #555;
    @include border-box();
}

.responsive-table table {
    margin: 0;
    padding: 0;
}

// support for iOS scrollbars
.responsive-table::-webkit-scrollbar {
    -webkit-appearance: none;
    width: $default-padding;
    height: $default-padding;
}

// support for iOS scrollbar thumb style
.responsive-table::-webkit-scrollbar-thumb {
    border: 2px solid $highlight-colour;
    background-color: $basic-colour;
}