$basic-form__border-colour: #ccc !default;
$basic-form__input-colour: #fff !default;
$basic-form__highlight-colour: #0074d9 !default;
$basic-form__error-text: #ff0000 !default;
$basic-form__error-bg: lighten($basic-form__error-text, 25%) !default;