// Taken from HTML 5 BP
::-moz-selection {
  background: $content-selection-highlight;
  text-shadow: none;
}

::selection {
  background: $content-selection-highlight;
  text-shadow: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  @include font-size(1);
  color: $base-font-colour;
}