// Global form styles
.sq-form-section,
.sq-form,
.sq-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.sq-form-question {
    padding: $default-padding/2;
}

// Fields
.sq-form-field {
    border: 1px solid $basic-colour;
}

.sq-form input[type="text"],
.sq-form input[type="password"],
.sq-form textarea {
    width: 100%;
    padding: $default-padding/2 0;
    @include border-box();
}

.sq-form textarea {
    padding: 0;
}

.lt-ie9 .sq-form input[type="text"],
.lt-ie9 .sq-form input[type="password"],
.lt-ie9 .sq-form textarea {
    width: 98%; // older IE doesn't handle border box properly
}

.sq-form input[type="text"]
.sq-form input[type="password"] {
    text-indent: $default-padding/2;
}

// Titles & Labels
.sq-form-question-title,
.sq-form-question-answer label {
    margin: $default-padding/2 0;
    font-weight: bold;
    display: block;
}

.sq-form-section-title {
    @include font-size(1.2);
    font-weight: bold;
    border-top: 1px solid $basic-colour;
    margin-top: $default-padding;
    display: block;
    padding-top: $default-padding;
    width: 100%;
    margin: $default-padding/2 0;
}

// Lists
.sq-form-question-tickbox-list ul,
.sq-form-question-option-list ul {
    @include list-reset();
}

.sq-form-question-tickbox-list li,
.sq-form-question-option-list li {
    clear: left;
    display: block;
    padding: $default-padding/2 0;
}

.sq-form input[type="radio"],
.sq-form input[type="checkbox"],
.sq-form input[type="radio"] ~ label,
.sq-form input[type="checkbox"] ~ label {
    float: left;
    font-weight: normal;
    margin: 0 0 0 $default-padding/2;
}

// Notes
.sq-form-question-note {
    font-size: 90%;
    font-style: italic;
    display: block;
    margin-bottom: $default-padding/2;
}

.sq-form-question {
    margin-bottom: $default-padding;
    @include clearfix();
}

// Date/Time
.sq-form .sq-form-question-datetime input[type="password"],
.sq-form .sq-form-question-datetime input[type="text"],
.sq-form .sq-form-question-datetime label,
.sq-form .sq-form-question-datetime select {
    @include inline-block();
    width: auto;
    margin-bottom: $default-padding/2;
}
.sq-form .sq-form-question-datetime label,
.sq-form .sq-form-question-datetime input {
    margin-right: $default-padding/2;
    font-weight: normal;
}

// Errors
.sq-form-error,
.sq-form-required-field {
    color: #ff0000;
}

.sq-form-error {
    clear: left;
}

.sq-form-question-error {
    background-color: #FFDFDF;
}