.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: url(files/overlay.png) repeat;
    background-image: rgba(0, 0, 0, 0.75); // Override the image with rgba if available
    width: 100%;
    height: 100%;
}