// REM font sizing with pixel fall back
// This technique will allow external font sizes to be set for html and respected
// if REMs are supported (everything but IE8 and older).
@mixin font-size($sizeValue: 1){
  font-size: ($sizeValue * $base-font-pixel) + px;
  font-size: $sizeValue + rem;
}

// Reset list styles
@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Clear fix for floats
@mixin clearfix() {
  &:after,
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

// Best Practice Article: https://central.squiz.net/imp/best-practice/accessibility/screen-hidden-content
// Prevent an element from being displayed.
@mixin screen-hide() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Restore to view
@mixin screen-show() {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Transition shortcut
@mixin transition($args: all 1s ease) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}

// 2D rotation with IE support
@mixin rotate($deg) {
  $msRotVal: (((360 + $deg) % 360) / 90);   // Modulo lets us handle negative values.
    -webkit-transform: rotate($deg + deg);  // Chrome, Safari 3.1+
       -moz-transform: rotate($deg + deg);  // Firefox 3.5-15
        -ms-transform: rotate($deg + deg);  // IE 9
         -o-transform: rotate($deg + deg);  // Opera 10.50-12.00
            transform: rotate($deg + deg);  // Firefox 16+, IE 10+, Opera 12.10+
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$msRotVal});
}

// Glow effect taken from foundation
@mixin block-glowing-effect($selector:focus, $fade-time:300ms, $glowing-effect-color:blue) {
  -webkit-transition: -webkit-box-shadow $fade-time, border-color $fade-time ease-in-out;
  -moz-transition: -moz-box-shadow $fade-time, border-color $fade-time ease-in-out;
  transition: box-shadow $fade-time, border-color $fade-time ease-in-out;

  &:#{$selector} {
    -webkit-box-shadow: 0 0 5px $glowing-effect-color;
    -moz-box-shadow: 0 0 5px $glowing-effect-color;
    box-shadow: 0 0 5px $glowing-effect-color;
    border-color: $glowing-effect-color;
  }
}

// Inline-block display mixin that works on older IE
@mixin inline-block() {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

// Add border box setting to an element.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Border radius helper
@mixin border-radius($radius: 4px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

// Box shadow (won't work in IE8 or older)
@mixin box-shadow($args: 6px 6px 6px rgba(0,0,0,0.3)) {
  -webkit-box-shadow: $args;
     -moz-box-shadow: $args;
          box-shadow: $args;
}

// Opacity
@mixin opacity($value) {
  $decimal-value: $value/100;
  -khtml-opacity: $decimal-value;
  -webkit-opacity: $decimal-value;
  -moz-opacity: $decimal-value;
  opacity: $decimal-value;
  -ms-filter: #{"alpha(opacity=" + $value + ")"};
  filter: alpha(opacity=$value);
}

// Individual border radius rule helper.
@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

// Use an SVG background image (for perfect Retina-rendering) with a PNG fallback.
@mixin svg-background($suffixless-url) {
  background-image: url($suffixless-url + ".svg");
  .no-svg & {
    background-image: url($suffixless-url + ".png");
  }
}

// Image replacement
@mixin ir() {
  color: transparent;
  border: 0;
  overflow: hidden;

  .no-rgba & { text-indent: 9999em; }
}

// Font icon shortcut
@mixin icon-font($code) {
  font-family: "FontAwesome";
  content: $code;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}