// Screen Hidden Content
.visuallyhidden {
    @include screen-hide;
}

// When screen hidden content is focused restore it to view
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    @include screen-show;
}

// Clear fix class for floats
.clearfix {
    @include clearfix;
}

// Image replacement
.ir {
    @include ir;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

/* Flex input groups with Modernizr prefixes and No JS fallback */
// Uses Modernizr class to prefix solution for flexible inputs and input addons
// Falls back to the table method for elements ajoined to an input (e.g. twitter bootstrap)
.input-group {
    @include border-box;
    .flexbox & {
        @include flexbox;
    }
    .no-js &,
    .no-flexbox & {
        display: table;
    }
}

.input-field {
    @include border-box;
    .flexbox & {
        @include flex(1);
    }
    .no-js &,
    .no-flexbox & {
        width: 100%;
        display: table-cell;
    }
}

// Make sure that when you apply this class it's an inline element like a span tag
// Applying it directly to a form element may result in some margins that are
// difficult to remove, the span container element makes it easy.
.input-addon {
    @include border-box;
    .flexbox & {
        // No need for anything else here
    }
    .no-js &,
    .no-flexbox & {
        // Will adjust to fit whatever the content because of the table cell
        width: 1%;
        display: table-cell;
    }
}