// Screen Hidden Content
.visuallyhidden {
    @extend %screen-hide;
}

// When screen hidden content is focused restore it to view
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    @extend %screen-show;
}

// Clear fix class for containers of floated elements
.clearfix {
    &:after,
    &:before {
        display: table;
        line-height: 0;
        content: "";
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

// The container for input groups
.input-group {
    @extend %border-box;
    @extend %flex-box;
}

// The field will expand to 100% of what's available
.input-field {
    @extend %border-box;
    @include sq-flex(1);
    width: 100%;
}

// Make sure that when you apply this class it's an inline element like a span tag
// Applying it directly to a form element may result in some margins that are
// difficult to remove, the span container element makes it easy.
.input-addon {
    @extend %border-box;
    @include sq-flex(1);
    width: 1%;
}