.quick-search-form {
    margin: 0;
    padding: 0;
}

.quick-search-input {
    vertical-align: middle;
    white-space: nowrap;
    color: lighten($base-font-colour, 20%);
    border: 1px solid $highlight-colour;
    padding: $default-padding/2 $default-padding;
    border-right: 0;
    margin: 0;
}

.quick-search-input:focus {
    color: darken($base-font-colour, 20%);
    background-color: lighten($highlight-colour, 45%);
}

.quick-search-submit {
    vertical-align: middle;
    white-space: nowrap;
    padding: $default-padding/2 $default-padding;
    background-color: $highlight-colour;
    color: $highlight-text-colour;
    text-align: center;
    border: 1px solid $highlight-colour;
    margin: 0;
    &:hover {
        background-color: lighten($highlight-colour, 10%);
    }
}

// If there is an icon applied, hide the text
.quick-search-submit[class^="icon-"] .quick-search-submit-text {
    @include screen-hide;
}