<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= name %> Tests</title>
    <!-- Load local QUnit. -->
    <link rel="stylesheet" href="../../../bower_components/qunit/qunit/qunit.css" media="screen">
    <script src="../../../bower_components/qunit/qunit/qunit.js"></script>
    <!-- Load local lib and tests. -->
    <script src="../../../bower_components/jquery/jquery.js"></script>
    <script src="../js/plugin.js"></script>
    <script src="spec.js"></script>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
        <div class="<%= cssName %>"></div>
    </div>
</body>
</html>