        <!-- build:sass dist:styles/global.css -->
                <!-- import:css source:styles/global.scss -->
                <!-- import:css module:**/css/variables.scss,module:**/css/global.scss -->
                <!-- import:content module:**/html/_bowercss.html -->
        <!-- endbuild -->
        <!-- build:sass dist:styles/medium.css { "media": "(min-width: <%= mediumMQ %>)" } -->
                <!-- import:css source:styles/medium.scss -->
                <!-- import:css module:**/css/variables.scss,module:**/css/medium.scss -->
        <!-- endbuild -->
        <!-- build:sass dist:styles/wide.css { "media": "(min-width: <%= wideMQ %>)" } -->
                <!-- import:css source:styles/wide.scss -->
                <!-- import:css module:**/css/variables.scss,module:**/css/wide.scss -->
        <!-- endbuild --><% if (ie8) { %>
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="styles/medium.scss" />
            <link rel="stylesheet" href="styles/wide.scss" />
        <![endif]--><% } %>
        <!-- build:sass dist:styles/print.scss { "media": "print" } -->
            <!-- import:css source:styles/print.scss -->
            <!-- import:css module:**/css/print.scss -->
        <!-- endbuild -->
        <!-- build:js dist:js/vendor/modernizr.min.js -->
            <!-- import:js bower:modernizr/modernizr.js -->
        <!-- endbuild -->