        <!-- build:css({{dest}}) styles/global.css -->
            <!-- import:sass {{source}}/styles/global.scss [<link rel="stylesheet" href="styles/global.css" />] -->
            <!-- import:bowerCSS -->
        <!-- endbuild -->
        <!-- import:sass {{source}}/styles/medium.scss [<link rel="stylesheet" href="styles/medium.css" media="(min-width: <%= mediumMQ %>)" />] -->
        <!-- import:sass {{source}}/styles/wide.scss [<link rel="stylesheet" href="styles/wide.css" media="(min-width: <%= wideMQ %>)" />] --><% if (ie8) { %>
        <!--[if lte IE 8]>
            <!-- import:sass {{source}}/styles/medium.scss [<link rel="stylesheet" href="styles/medium.css" />] -->
            <!-- import:sass {{source}}/styles/wide.scss [<link rel="stylesheet" href="styles/wide.css"  />] -->
        <![endif]--><% } %>
        <!-- import:sass {{source}}/styles/print.scss [<link rel="stylesheet" href="styles/print.css" media="print" />] -->

        <!-- build:js js/vendor/modernizr.min.js -->
            <!-- import:js {{bowerdir}}/modernizr/modernizr.js -->
        <!-- endbuild -->
