<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{name}} - (version {{version}})</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.ico">
        <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
        <link rel="apple-touch-icon-precomposed" href="{{file_dest}}/logo-144x144.png">
{{_head_html}}
    </head>
    <% if (ieConditionals) { %><!--[if lt IE 7]><body class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><body class="no-js lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><body class="no-js lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!--><% } %>
    <body class="no-js">
    <% if (ieConditionals) { %><!--<![endif]--><% } %>
    <div id="page-wrapper">
    <!--noindex-->
        <div class="header" role="banner">

        </div><!-- /.header -->
    <!--endnoindex-->
            <!-- start main-content -->
            <div id="main" role="main">

            </div><!-- /#main -->
            <!-- end main-content -->
    <!--noindex-->
        <div class="footer" role="contentinfo">

        </div><!-- /.footer -->
    <!--endnoindex-->
    </div><!-- /#page-wrapper -->
{{_foot_html}}
    </body>
</html>