.chart-loaded .chart-data {
    @include screen-hide;
}

.no-js .chart-figure {
    display: none;
}

.chart-output {
    width: 300px;
}

.chart-caption {
    @include font-size(0.8);
}

.chart-error {
    color: #ff0000;
    &:before {
        content: "Error: ";
    }
}