.chart-loaded .chart-data {
    @include screen-hide;
}

.no-js .chart-figure {
    display: none;
}

// It's possible to restrict the size of the chart using CSS
.chart-output {
    //width: 300px;
}

.chart-caption {
    font-style: italic;
    @include font-size(0.8);
}

.chart-error {
    color: #ff0000;
    &:before {
        content: "Error: ";
    }
}