.nav-basic-list {
    @include list-reset();
}

.nav-basic-right .nav-basic-list {
    float: right;
}

.nav-basic-item {
    float: left;
    @include inline-block();
    width: 100%;
}

.nav-basic-item-link {
    display: block;
    padding: $default-padding/2 $default-padding;
    background: $basic-colour;
}

.nav-basic-item-link:hover,
.nav-basic-item-link:focus,
.nav-basic-item-current {
    background: $highlight-colour;
    color: $highlight-text-colour;
}

// Nav small screen toggle menu
.nav-basic-menu-toggle,
.nav-basic-menu-toggle:active,
.nav-basic-menu-toggle:visited {
    display: block;
    padding: $default-padding/2 $default-padding;
    background: $highlight-colour;
    color: $highlight-text-colour;
}

.nav-basic-menu-toggle:hover,
.nav-basic-menu-toggle:focus {
    background: darken($highlight-colour, 20%);
}

// Replace this style with the visual representation of a closed menu.
.nav-basic-menu-toggle-active:after {
    content: " (COLLAPSED)";
}

.nav-basic-list-menu-toggle-inactive {
    @include screen-hide();
}